<div
  [ngClass]="
    item.value === itemValueEnum.S_PLUS
      ? 'border-red-500'
      : item.value === itemValueEnum.S
      ? 'border-orange-500'
      : item.value === itemValueEnum.A
      ? 'border-purple-500'
      : item.value === itemValueEnum.B
      ? 'border-bue-500'
      : item.value === itemValueEnum.C
      ? 'border-green-500'
      : 'border-gray-400'
  "
  class="p-1 bg-black-alpha-40 border-1 border-round-md cursor-pointer"
  (click)="isItemDetailVisible = !isItemDetailVisible"
>
  <img [src]="item.thumbnailImage" class="w-full" />
</div>

<p-dialog header="Header" [(visible)]="isItemDetailVisible">
  <ng-template pTemplate="header">
    <span
      [ngClass]="
        item.value === itemValueEnum.S_PLUS
          ? 'text-red-500'
          : item.value === itemValueEnum.S
          ? 'text-orange-500'
          : item.value === itemValueEnum.A
          ? 'text-purple-500'
          : item.value === itemValueEnum.B
          ? 'text-bue-500'
          : item.value === itemValueEnum.C
          ? 'text-green-500'
          : 'text-gray-400'
      "
      class="font-semibold"
      >{{ item.itemName }}</span
    >
  </ng-template>
  <div class="p-3 flex gap-4 bg-black-alpha-80">
    <div>
      <div class="text-gray-200">
        Loại: <span class="">{{ getItemTypeName(item.itemType) }}</span>
      </div>
      <div class="mt-2 text-gray-200">
        Bậc:
        <span
          [ngClass]="
            item.value === itemValueEnum.S_PLUS
              ? 'text-red-500'
              : item.value === itemValueEnum.S
              ? 'text-orange-500'
              : item.value === itemValueEnum.A
              ? 'text-purple-500'
              : item.value === itemValueEnum.B
              ? 'text-bue-500'
              : item.value === itemValueEnum.C
              ? 'text-green-500'
              : 'text-gray-400'
          "
          >{{ item.value }}</span
        >
      </div>
      <div
        class="mt-2 text-gray-200 flex gap-2 align-items-center"
        [tabIndex]="-1"
      >
        <!-- Cấp độ: <span class="font-extr">{{ item.level || "1" }}</span> -->
        Cấp độ:
        <p-rating [(ngModel)]="item.level" [readonly]="true" [cancel]="false" />
      </div>
      <div class="mt-2 text-gray-400 text-sm">
        {{
          !item.isUpgradeable
            ? "Không thể nâng cấp "
            : item.level === 5
            ? "Đã đạt cấp tối đa "
            : "Có thể nâng cấp"
        }}
      </div>
    </div>
    <div
      [ngClass]="
        item.value === itemValueEnum.S_PLUS
          ? 'border-red-500'
          : item.value === itemValueEnum.S
          ? 'border-orange-500'
          : item.value === itemValueEnum.A
          ? 'border-purple-500'
          : item.value === itemValueEnum.B
          ? 'border-bue-500'
          : item.value === itemValueEnum.C
          ? 'border-green-500'
          : 'border-gray-400'
      "
      class="h-6rem md:h-10rem border-2 border-round-md p-2 item"
    >
      <img [src]="item.thumbnailImage" class="w-full h-full" />
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div
      [ngClass]="
        item.isOwned ? 'justify-content-between' : 'justify-content-end'
      "
      class="flex"
    >
      <a [routerLink]=""
        ><button
          *ngIf="item.isOwned"
          class="icon-button text-orange-700 font-semibold"
        >
          Nâng cấp <img class="h-1rem" [src]="getIconSrc('hammer')" /></button
      ></a>
      <div class="flex gap-2">
        <button class="icon-button text-orange-500">
          {{ item.price?.coin }}
          <i class="pi pi-bitcoin text-xl"></i>
        </button>
        <button class="icon-button text-teal-400">
          {{ item.price?.diamond }}
          <img class="h-1rem" [src]="getIconSrc('diamond')" />
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>
