.p-dialog {
  border-radius: 0.75rem;

  .p-dialog-header {
    padding: 0.75rem;
    border-radius: 0.75rem 0.75rem 0 0;
    background: #1d2c3e;
  }

  .p-dialog-content {
    background: none;
  }

  .p-dialog-footer {
    border-radius: 0 0 0.75rem 0.75rem;
    padding: 0.5rem 1rem;
    background: #1d2c3ed2;
  }
}
