@import "../../layout/styles/variables";

.public-container {
  height: 100%;
  background-size: cover;
  // background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../../assets/images/mobile_public_bgr.png");
}

.router {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

@media screen and (min-width: 768px) {
  .public-container {
    background: url("../../../assets/images/desktop_public_bgr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
  }
}

@media screen and (min-width: 1024px) {
  .public-container {
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
  }

  .desktop-bgr {
    background: url("../../../assets/images/desktop_public_bgr.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex: 1.5;
    height: 100%;
    background-position: bottom;
  }

  .router {
    flex: 1;
    background-color: $public-bg-dark;
    height: 100%;
  }
}
